<% let marks=60 %>
<% if(marks>=40){ %>
    <p>Pass</p>
<% } else { %>
    <p>Fail</p>
<% } %>

<% let name="<b>abc</b>" %>
<p> <%= name %> </p>

<p> <%- name %> </p>

<%# This is comment %>

<%% This is EJS %>



<h1>Hello <%= id %> </h1>




